<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>835320418280-0bl4p0eqorfmu9cb0cualod1onlmltdi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1M1aMbHIlVfPA54iNPGrBgexXQdVnpDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>835320418280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Academically</string>
	<key>PROJECT_ID</key>
	<string>academic-ally-app</string>
	<key>STORAGE_BUCKET</key>
	<string>academic-ally-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835320418280:ios:9e779aa668bb16e4435e5d</string>
</dict>
</plist>